<section class="container pt-4">
  <h2>Why did I build this?</h2>
  <div class="ratio ratio-16x9 my-4">
    <iframe
      class="embed-responsive-item"
      src="https://www.youtube.com/embed/NuZcYh0XbMM?si=mmvmbaODsa71sG1v&amp;start=197&amp;mute=1"
      title="Youtube - Compiz Fusion Cube Example"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <p>
    This was inspired by the old composite window manager
    <a href="https://www.compiz-fusion.org/">Compiz</a> that I used around the
    late 2000s. It was first called Novell Compiz, then Beryl, then Compiz
    Fusion. This demo doesn't hold a candle the impressive window cube feature
    of Compiz, but it was fun to make and I hope it inspires you as well!
  </p>
</section>
