<section class="p-5 text-center bg-secondary bg-opacity-10">
  <div class="container py-5">
    <h1 class="text-body-emphasis">Navigate to another page</h1>
    <p class="col-lg-8 mx-auto lead">
      When you click on a new route, the application will animate the root
      component. The previous and next pages with be projected onto the faces of
      a pseudo-cube. The animation will zoom out to reveal a parallax
      background, rotate the cube, then zoom in to the next page. Try it!
    </p>
  </div>
</section>
